


<div class="container p-2 fixed-top">
   <div class="row">
       <div class="col-md-4 bg-info">
           <h5>website.com</h5>
       </div>
        <div class="col-md-3 bg-danger">
            <center>
            <form action="" class="mb-1">
                <div class="input-group mt-1">
                    <input type="text" class="form-control shadow-sm" placeholder="Search" aria-label="Search keywords" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-theme" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>

            </center>
        </div>

       <div class="col-md-4 bg-theme">
            <div class="row">
            <div class="col">
                <a class="h5 text-theme" href="/"><i class="fa fa-users mb-2"></i></a>
            </div>

            <div class="col">
                <a class="h5 text-theme" id="nav-home" data-toggle="tab" href="#custom-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa fa-users mb-2"></i></a>
            </div>
            <div class="col">
                <a class="h5 text-theme" id="nav-home" data-toggle="tab" href="#custom-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa fa-users mb-2"></i></a>
            </div>
            <div class="col">
                <a class="h5 text-theme" id="nav-home" data-toggle="tab" href="#custom-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa fa-users mb-2"></i></a>
            </div>
            <div class="col">
                <a class="h5 text-theme" id="nav-home" data-toggle="tab" href="#custom-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa fa-users mb-2"></i></a>
            </div>

            </div>

       </div>


   </div>
</div>



